.container {


}
.red1 {
    background-color: red;
    color: white;
    width: 200px;
    height: 200px;
}

.orange1 {
    background-color: orange;
    color: white;
    width: 200px;
    height: 200px;
}
.blue1 {
    background-color: blue;
    color: white;
    width: 200px;
    height: 200px;
}
.black1 {
    background-color: black;
    color: white;
    width: 200px;
    height: 200px;
}
